<div class="container">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quia neque quibusdam assumenda minima repellendus ad numquam totam sapiente. Adipisci architecto mollitia sunt quod provident modi nemo dolores nulla repellendus.</p>
    <div class="d-flex justify-content-center">
    <form class="p-3 bg-light rounded d-flex flex-column justify-content-center col-7">
    
        <div class="mb-3 d-flex justify-content-between">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</div>