<!-- your html code here -->
<section class="p-5 mx-5">
  <h2 class="fs-1">Porfolio</h2>
  <p class="fs-5 text mb-4">
    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
    porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
    nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  </p>
  <div class="d-flex gop-5">
    <div>
      <div class="bg-dark-subtle h-100 mb-4 d-flex align-items-center justify-content-center fs-3 text-black-50 fw-bold">700x400</div>
      <h4 style="color:#4478b0">Project Name</h4>
      <p class="fs-6 text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        nesciunt, modi iusto culpa exercitationem beatae provident odio
        doloribus.
      </p>
    </div>

    <div>
      <div class="bg-dark-subtle h-100 mb-4 d-flex align-items-center justify-content-center fs-3 text-black-50 fw-bold">700x400</div>
      <h4 style="color:#4478b0">Project Name</h4>
      <p class="fs-6 text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        nesciunt, modi iusto culpa exercitationem beatae provident odio
        doloribus.
      </p>
    </div>

    <div>
      <div class="bg-dark-subtle h-100 mb-4 d-flex align-items-center justify-content-center fs-3 text-black-50 fw-bold">700x400</div>
      <h4 style="color:#4478b0 ">Project Name</h4>
      <p class="fs-6 text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        nesciunt, modi iusto culpa exercitationem beatae provident odio
        doloribus.
      </p>
    </div>
  </div>
</section>
